﻿@font-face {
    font-family: 'PTSansRegular';
    src: url('fonts/PTS55F_W.eot');
    src:
            url('fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'),
            url('fonts/PTS55F_W.woff') format('woff'),
            url('fonts/PTS55F_W.ttf') format('truetype'),
            url('fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

BODY {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1280px;
    font-size: 12px;
    color: #5d5d5d;
    font-family: PTSansRegular, sans-serif;
    background: url('img/bg0.jpg') no-repeat #4168aa;
    overflow: hidden;
}

HTML {
    padding: 0;
    margin: 0;
    height: 1280px;
}

TABLE {
    border-collapse: collapse;
    table-layout: fixed; /* Ячейки фиксированной ширины */
}

#header_page, #error_js, #body_page, #footer_page {
    width: 1280px;
    margin: 0;
    padding: 0;
}

#header_page {
    /*border: 1px solid black;*/
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    margin-top: 10px;
}

#body_page {
    /*border: 1px solid green;*/
    position: absolute;
    height: 700px;
    top: 50px;
    left: 0;
    margin-top: 5px;
}

#footer_page {
    /*border: 1px solid red;*/
    position: absolute;
    height: 0;
    top: 870px;
    /*top: 10px;*/
    left: 0;
    margin-top: 5px;
}

#error_js {
    border: solid 2px white;
    color: black;
    font-weight: bold;
    z-index: 500;
    top: 0;
    position: absolute;
}

#wsteps {
    margin-top: 40px;
}

#wterminal_info {
    position: absolute;
    left: 25px;
    top: 900px;
}

#wbuttons {
    /*border: 1px solid black;*/
}

#winfo_main, #winfo_payment {
    margin-top: 160px;
}

#winfo_help {
    margin-top: 130px;
}

#wabout_terminal_display_block {
    position: absolute;
    text-align: center;
    width: 805px;
    left: 50%;
    margin-left: -402px;
    top: 0;
    height: 0;
    padding: 0;
    display: none;
}

.wabout_terminal_tr {
    height: 0;

}

.wabout_terminal_tr td {
    padding-left: 20px;
    color: black;
    font-weight: bold;
}

.blocked_bills {
    font-size: 24px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    font-weight: normal;
    padding: 0;
}

.blocked_bills_warn {
    color: red;
}

table.categrory_operator {
    width: 1200px;
    top: 100px;
    position: absolute;
    left: 40px;
}

.categrory_operator > tr {
    margin-top: 150px;
    border: 1px solid black;
}

/*
Быстрая панель
*/

/*
Наименование категории в списке операторов
*/
#wgroup_name {
    height: 119px;
    width: 1260px;
    padding: 2px;
}

#wgroup_name_left {
    width: 17px;

}

#wgroup_name_center {
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 1260px;

}

#wgroup_name_right {
    width: 17px;

}

#wgroup_category_name {
    margin-left: 50px;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

/*
/Наименование категории в списке операторов
*/

#wgroup {
    margin-top: -35px;
}

.td_fast {
    width: 190px;
    height: 105px;
    text-align: center;
    vertical-align: middle;
    background: url('img/fastp_c.png') repeat-x;
}

.td_fast_separator {
    background: url('img/fastp_d.png') no-repeat;
    width: 15px;
}

.td_fast_right {
    border-right: 0;
}

.td_fast_left_corner {
    width: 25px;
    background: url('img/fastp_l.png') no-repeat;
}

.td_fast_right_corner {
    width: 25px;
    background: url('img/fastp_r.png') no-repeat;
}

/*
Юниcтрим
*/

.country_one, .currency_one {
    font-size: 26px;
    color: white;
    width: 310px;
    height: 67px;
    text-align: center;
}

.currency_one {
    width: 157px;
}

#country {
    width: 950px;
    height: 600px;
    margin-left: 280px;
    text-align: center;
}

#wcountry {

}

#wcurrency {
    margin-top: 30px;
}

.country_text, .currency_text {
    color: black;
    font-family: PTSansRegular, sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
}

/*
/Юниcтрим
*/

/*
Быстрая панель
*/

#logolist, #searchresult {
    text-align: center;
    padding: 0;
    z-index: 10;
    border: solid 0;
    overflow: hidden;
    width: 1280px;
    margin-left: 50px;
    margin-top: 80px;

}

/*
Кнопки на главном экране
*/
#wbutton_main {
    text-align: center;
    margin: 0 auto;
    width: 1210px;
}

#aboutterm, #button_oferta, #wsearch, #button_help_subscriber {
    float: left;
    height: 100px;
    width: 300px;
}

/*
/Кнопки на главном экране
*/

/*
Помощь абонента
*/
.help_subscriber_one {
    background: url('img/btn_r.png') no-repeat;
    width: 319px;
    height: 159px;
}

/*
/Помощь абонента
*/

/*Поиск платежа*/
#search_print_check {
    text-align: center;
    margin-top: 100px;
}

.list_print_check {
    width: 1200px;
}

.list_print_check tr.head {
}

.list_print_check th, .list_print_check td {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    /*border: 1px solid white;*/
    color: #000000;
    background-color: darkgrey;
}

.list_print_check td {
    font-size: 18px;
    background-color: #cecece;

}

td.no_right_border {
    border-right: none;
}

/*/Поиск платежа*/

/*
Кнопки в степах
*/
#wbuttons_mainmenu, #gmainmenu, #wbuttons_main_next, #wbuttons_main_back, #wbuttons_no_money_send, #wbuttons_main_pay_replay,
#button_subscribe_mainmenu, #button_subscribe_back, #button_subscribe_next, #button_subscribe_search, #wbuttons_appoint {
    position: absolute;
    top: 49px;
    height: 94px;
    width: 271px;

}

#wbuttons_mainmenu, #gmainmenu, #button_subscribe_mainmenu {
    left: 476px;
    height: 109px;
    width: 329px;
}

#wbuttons_main_back, #button_subscribe_back {
    left: 5px;
}

#wbuttons_main_next, #button_subscribe_next, #button_subscribe_search, #wbuttons_appoint {
    left: 1005px;
}

#wbuttons_main_pay {
    position: absolute;
    top: 0;
    left: 510px;

}

#wbuttons_main_pay_replay, #wbuttons_no_money_send {
    left: 1016px;
}

/*
/Кнопки в степах
*/

/*
Кнопки в списке операторов
*/
#mainmenu, #wupbutton, #btnback, #btnmoreop {
    position: absolute;
    top: 49px;
    height: 101px;
    width: 264px;

}

#mainmenu {
    /*left: 50%;*/
    /*margin-left: -150px;*/
    left: 510px;
    visibility: hidden;
}

#wupbutton {
    left: 0;
    height: 101px;
    width: 264px;

}

#btnback {
    position: absolute;
    top: -430px;
    left: 80px;
    height: 87px;
    width: 43px;

}

#btnmoreop {
    top: -430px;
    left: 1150px;
    height: 87px;
    width: 43px;
}

/*блок количества страниц*/
#page_num_id {
    position: absolute;
    margin-left: 705px;
    margin-top: 30px;
    font-size: 30px;
    color: white;
    display: none;
}

/*
/Кнопки в списке операторов
*/

/*
Кнопки меню в инфо
*/
#whelp, #waboutps, #waboutoperat, #waboutterm, #wterm_mainmenu {
    position: absolute;
    top: 0;
    height: 100px;
    width: 250px;
}

#waboutterm {
    left: 250px;
}

#waboutoperat {
    left: 500px;
}

#waboutps {
    left: 750px;
}

#whelp {
    left: 1000px;
}

/*
Кнопки меню в инфо
*/

.divabsolute {
    position: absolute;
    top: 10px;
}

.toptext {
    font-size: 48px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    line-height: 40px;
}

.top {
    border: 1px solid black;
    height: 100px; /*Высота слоя в пикселах*/
    width: 1260px;
    margin: 0 auto;
    padding: 0; /* Поля вокруг текста */
}

#wlist_operator {
    margin: 0 auto;
    text-align: justify;
    width: 1276px;
    height: 570px;
    padding: 20px;
    z-index: 10;
    top: 210px; /* Положение слоя от верхнего края */
    border: solid 0;
    overflow: hidden;
}

.oferta {
    font-size: 18px;
    color: #000000;
    margin: 10px;
    padding: 10px;
}

#aboutprovider {
    margin: 0 auto;
    text-align: justify;
    height: 570px;
    padding: 20px;
    z-index: 10;
    top: 210px; /* Положение слоя от верхнего края */
    border: solid 0;
    overflow: hidden;
}

A {
    color: #2a5dab;
    text-decoration: none;
}

A:link {
    text-decoration: none;
}

A:visited {
    color: #2a5dab;
    text-decoration: none;
}

A:hover {
    color: #2a5dab;
    text-decoration: none;
}

A:active, a:focus, img {
    outline: 0;
}

/*A IMG {
    border: none;
}*/

.KB {
    font-size: 40px;
    color: #FFFFFF;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0 0 10px;
}

.KB_KEY, .KB_LONG, .KB_LIST {

    font-size: 60px;
    color: #FFFFFF;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
}

.KB_LONG {

}

.KB_LIST {

}

.KB_SEARCH {
    text-align: center;
}

/*
Кнопки вверх вниз для онлайн списка
*/
#wdown, #wup {
    position: absolute;

}

#wdown {
    top: 425px;
    left: 1150px;
    border: 0 solid;
    width: 120px;
    padding-left: 50px;
}

#wup {
    top: 185px;
    left: 20px;
}

/*
/Кнопки вверх вниз для онлайн списка
*/

.KB_KEY {
    width: 99px;
    height: 77px;
    padding-right: 6px;
    padding-top: 2px;
    text-align: center;
    padding-bottom: 10px;

}

.KB_LONG1 {
    width: 142px;
    height: 66px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: arial, sans-serif;

}

.KB_LONG2 {
    width: 142px;
    height: 66px;
    padding-bottom: 10px;
    padding-left: 28px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: arial, sans-serif;

}

.KB_LONG3 {
    width: 142px;
    height: 66px;
    padding-bottom: 10px;
    padding-left: 22px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: arial, sans-serif;

}

.KB_LONG4 {
    width: 142px;
    height: 66px;
    padding-bottom: 10px;
    padding-left: 8px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: arial, sans-serif;

}

.KB_LONG5 {
    width: 142px;
    height: 66px;
    padding-bottom: 10px;
    padding-left: 8px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: arial, sans-serif;

}

#wcalendarmonthbox, #wcalendarbox, #pages_search_check, #pages_enter_number, #pages_type_search {
    margin-top: 10px;
    margin-left: 260px;
    text-align: center;
}

#pages_search_check, #pages_enter_number, #pages_type_search {
    margin: 0 auto;
}

#pages_see_search_check {
    margin-top: 20px;
}

#wlist {
    width: 1200px;
    height: 650px;
    margin-left: 0;
    margin-top: 30px;
    position: absolute;
    left: 100px;
    top: 140px;
    border: 0 solid;
    padding-top: 20px;
}

.stepinfolist {
    font-size: 34px;
    color: #e3bdb8;
    font-weight: bold;
    width: 997px;
    text-align: center;
    border: 0 solid;
    left: 20px;
    position: absolute;
    top: -40px;
}

#button_up {
    margin-top: 240px;
}

#wdatabox_keyboard {
    width: 1280px;
    margin-left: 0;
    text-align: center;
    margin-top: 0;
}

#wlist_online {
    margin-top: 60px;
    margin-left: 270px;
    text-align: justify;
    height: 500px;
    width: 800px;
    padding: 10px;
    z-index: 10;
}

.numbox {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 53px;
    line-height: normal;
    font-weight: bold;
    color: black;
    padding: 15px 0 0 0;
    border: none;
    width: 513px;
    height: 85px;
    background: url('img/field1_current.png') 0 0 no-repeat;
}

/*
Инпут для намбербокс
*/
.left_input, .right_input {
    padding: 15px 0 0 0;
    border: none;
    height: 91px;
}

.left_input {
    width: 15px;
    background: url('img/1.png') no-repeat;
}

.right_input {
    width: 15px;
    background: url('img/2.png') no-repeat;
}

.center_keyboard {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 53px;
    line-height: normal;
    font-weight: bold;
    color: black;
    border: none;
    height: 91px;
    background: url('img/3.png') repeat-x;
}

.center_databox {
    font-size: 60px;
    width: 800px;
    background: url('img/3.png') repeat-x;
    height: 91px;
    border: none;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    font-weight: bold;
    color: black;

}

.winput_left, .winput_right {
    height: 91px;
    width: 15px;
}

.winput_left {
    background: url('img/1.png') no-repeat;
}

.winput_right {
    background: url('img/2.png') no-repeat;

}

.winput_left_red {
    background: url('img/1_red.png') no-repeat;
    height: 91px;
    width: 15px;
}

.winput_right_red {
    background: url('img/2_red.png') no-repeat;
    height: 91px;
    width: 15px;
}

.winput_center, .winput_center_keyboard, .winput_center_calendar, .winput_center_searchbox {
    background: url('img/3.png') repeat-x;
    height: 91px;
    min-width: 460px;
    max-width: 460px;
    margin: 0;
    padding-bottom: 25px;
    font-family: PTSansRegular, sans-serif;
    font-size: 24px;
    color: #000000;
    display: inline;
    text-align: left;
}

#databox, #databox_keyboard, #print_databox {
    padding: 0;
    /*height: 91px;
     */
    font-size: 110px;
    vertical-align: middle;
    display: inline;
}

#databox_keyboard {
    width: 600px;
    overflow: hidden;
}

.winput_center_keyboard {
    width: 900px;
    text-align: center;
    overflow: hidden;
}

.winput_center_calendar {
    width: 513px;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.winput_center_searchbox, #wsearchbox {
    width: 900px;
    font-size: 60px;
    text-align: center;
    overflow: hidden;
}

.winput_center_fixedsum {
    height: 91px;
    min-width: 400px;
    max-width: 400px;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #000000;
    display: inline;
    text-align: center;
    top: -20px;
}

.winput_center_fixedsum_red {
    width: 300px;
    height: 91px;
    font-size: 60px;
    text-align: center;
    background: url('img/3_red.png') repeat-x;
}

.winput_center_fiobox {
    min-width: 460px;
    max-width: 460px;
    font-size: 24px;
    font-family: PTSansRegular, sans-serif;
    text-align: left;
    background: url('img/3.png') repeat-x;

}

.winput_center_fiobox_red {
    min-width: 460px;
    max-width: 460px;
    font-size: 24px;
    font-family: PTSansRegular, sans-serif;
    text-align: left;
    background: url('img/3_red.png') repeat-x;
}

#lastname {
    min-width: 380px;
    max-width: 380px;
    height: 63px;
    font-size: 44px;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    padding-bottom: 15px;
    top: 7px;
    padding-top: 5px;
    display: inline;
    position: relative;
}

#firstname {
    min-width: 270px;
    max-width: 270px;
    height: 63px;
    font-size: 44px;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    padding-top: 5px;
    display: inline;
    top: 7px;
    position: relative;
}

#wkeyboard {
    text-align: center;
    margin-left: 0;
    margin-top: 50px;
}

.wkeyboard_panel, #wsearch_keyboard_container {
    position: absolute;
    left: 80px;
    width: 1140px;
    height: 400px;
    top: 380px;
}

#wsearch_keyboard_container {
    margin: 0 auto;
}

#wfiobox_field {
    text-align: center;
    margin-left: 0;
    margin-top: 130px;
}

#wfixedsum {
    text-align: center;
    margin-left: 12px;
    border: 0 solid;

}

.grfont {
    font-size: 12px;
    color: #5d5d5d;
    font-family: PTSansRegular, sans-serif;
    padding: 0;
}

.searchboxbackspace {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: normal;
    color: black;
    padding: 11px 0 0 0;
    border: none;
    width: 93px;
    height: 65px;
    background: url('img/fo_btn_backspace.png') 0 0 no-repeat;
}

#date {
    font-weight: bold;
    color: #af342f;
}

#clock {
    font-weight: bold;
    color: #af342f;
}

#opinfologo {
    width: 225px;
    height: 110px;
    border: solid 0;
    position: absolute; /* Абсолютное позиционирование */
    left: -500px;
    top: 200px;
    background: url('img/inner_bg.png') no-repeat;
    padding: 15px 5px 0 0;
    text-align: center;
}

#opinfocomis {
    width: 225px;
    height: 200px;
    border: solid 0;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 50px;
    text-align: left;
    vertical-align: text-bottom bottom;
    font-size: 18px;
    color: black;
    font-weight: bold;
    visibility: hidden;
}

#info_commision_payemnt {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}

#opinfocomisdiv {
    width: 225px;
    height: 87px;
    position: absolute; /* Абсолютное позиционирование */
    left: 35px;
    top: 340px;
    text-align: left;
    font-size: 18px;
    color: black;
    font-weight: bold;
    visibility: visible;
}

#info_commision_payemnt {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

#opinfotext {
    width: 513px;
    height: 100px;
    border: solid 0;
    position: absolute; /* Абсолютное позиционирование */
    left: 336px;
    top: 640px;
    text-align: left;
    vertical-align: text-bottom bottom;
    font-size: 15px;
    color: black;
}

#enterednumber {
    width: 1260px;
    height: 300px;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 200px;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 30px;
    color: black;
}

.text_payment, .text_payment_alert {
    font-size: 25px;
    font-family: PTSansRegular, sans-serif;
}

.text_payment_alert {
    color: red;
}

#enterednumber .attention {
    color: red;
    font-weight: 300;
}

#enteredData, #minimum_sum {
    text-align: center;
    font-size: 30px;
    color: #000000;
    letter-spacing: 5px;
}

.paytab {
    font-size: 34px;
    color: black;
}

#terminalerror {
    padding-top: 440px;
    margin: 0;
    width: 100%;
    height: 1280px;
    background: url('img/bg0.jpg') no-repeat #4168aa;
    overflow: hidden;
    font-size: 24px;
    color: black;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 0;
    visibility: visible;
    z-index: 1100;
}

#click1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 0;
    left: 0;
    top: 0;
}

#click2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 0;
    left: 1080px;
    top: 0;
}

#click3 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 0;
    left: 0;
    top: 824px;
}

#click4 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 0;
    left: 1080px;
    top: 824px;
}

#click5 {
    position: absolute;
    width: 300px;
    height: 300px;
    border: solid 0;
    left: 490px;
    top: 362px;
}

#adminpass {
    padding-top: 280px;
    margin: 0;
    width: 100%;
    height: 1280px;
    background-color: white;
    /*background-IMAGE: url('img/bg.jpg');*/
    overflow: hidden;
    font-size: 24px;
    color: black;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 0;
    visibility: hidden;
}

#printedcheck {
    border: solid 0;
    text-align: center;
    vertical-align: text-bottom bottom;
    font-size: 24px;
    color: black;
}

#searchcontainer {
    margin: 5px auto 15px auto;
    text-align: left;
    width: 796px;
    height: 214px;
    padding: 10px;
    z-index: 10;
    left: 111px; /* Положение слоя от левого края */
    top: 10px; /* Положение слоя от верхнего края */
    overflow: hidden;
}

#searchback, #searchnext {
    margin: 0 auto;
    text-align: justify;
    width: 111px;
    height: 76px;
    padding: 0;
    z-index: 0;
    top: 100px;
    overflow: hidden;
    position: absolute;
}

#searchback {
    left: 100px;
}

#searchnext {
    left: 1050px;
}

#loadingdiv {
    top: 0; /* Положение слоя от верхнего края */
    position: absolute;
    border: none;
    width: 1280px;
    height: 1024px;
    background: #4168aa;
    z-index: 100;
    padding: 0 0 0 0;
    visibility: hidden;
    opacity: 0.95;
    filter: alpha(Opacity=95);
}

#loadingdivmsg {
    position: absolute;
    background: #2d4876;
    z-index: 110;
    opacity: 1;
    visibility: hidden;
    top: 250px;
    left: 300px;
    background: url('img/inner_bg_big.png') no-repeat;
    width: 717px;
    height: 350px;
}

#woferta {
    margin-top: 20px;
}

#loadingdivPAYMENTmsg {
    position: absolute;
    background: #2d4876;
    z-index: 110;
    opacity: 1;
    visibility: hidden;
    top: 250px;
    left: 300px;
    background: url('img/inner_bg_big.png') no-repeat;
    width: 717px;
    height: 350px;
}

#loadingdivmsgcancel {
    padding: 0 0 0 0;
    position: absolute;
    z-index: 111;
    opacity: 1;
    visibility: hidden;
    top: 262px;
    left: 900px;
}

#loadingdivmsgyesnomenu {
    position: absolute;
    background: #2d4876;
    z-index: 112;
    opacity: 1;
    visibility: hidden;
    top: 250px;
    left: 300px;
    background: url('img/inner_bg_big.png') no-repeat;
    width: 717px;
    height: 350px;
}

/*
Попуп конфирм
*/
#popup_confirm {
    position: absolute;
    background: #2d4876;
    z-index: 112;
    opacity: 1;
    top: 250px;
    left: 300px;
    background: url('img/inner_bg_big.png') no-repeat;
    width: 717px;
    height: 350px;
}

#confirm_text {
    position: absolute;
    margin: 0 auto;
    top: 100px;
    left: 34px;
    text-align: center;
    vertical-align: middle;
    width: 650px;
    height: 150px;
}

#popup_confirm_nobutton {
    position: absolute;
    top: 250px;
    left: 100px;
}

#popup_confirm_yesbutton {
    position: absolute;
    top: 250px;
    left: 460px;
}

#popup_confirm_img {
    width: 150px;
    margin: 0 auto;
}

/*
/Попуп конфирм
*/

#loadingdivmsgno {
    position: absolute;
    background: #2d4876;
    z-index: 112;
    opacity: 1;
    visibility: hidden;
    top: 250px;
    left: 300px;
}

#numsearchback {
    margin: 0 auto;
    text-align: justify;
    width: 111px;
    height: 76px;
    padding: 0;
    z-index: 0;
    top: 230px; /* Положение слоя от верхнего края */
    border: solid 0;
    overflow: hidden;
    position: absolute;
    left: 1159px;
}

#numsearchnext {
    margin: 0 auto;
    text-align: justify;
    width: 111px;
    height: 76px;
    padding: 0;
    z-index: 0;
    top: 330px; /* Положение слоя от верхнего края */
    border: solid 0;
    overflow: hidden;
    position: absolute;
    left: 1159px;
}

#numsearchcontainer {
    margin: 0 auto;
    text-align: center;
    width: 1030px;
    height: 214px;
    padding: 0;
    z-index: 10;
    left: 211px; /* Положение слоя от левого края */
    top: 210px; /* Положение слоя от верхнего края */
    border: solid 0;
    overflow: hidden;
}

#numsearchresult {
    text-align: center;
    left: 511px; /* Положение слоя от левого края */
    position: absolute;
    width: 1030px;
}

#errormsgdiv {
    top: 0; /* Положение слоя от верхнего края */
    position: absolute;
    border: none;
    width: 1280px;
    height: 1024px;
    background: #4168aa;
    z-index: 100;
    padding: 0 0 0 0;
    background: url('img/full_bg.png') 0 0 no-repeat;
    visibility: hidden;
}

#screentimeoutbg {
    top: 0; /* Положение слоя от верхнего края */
    position: absolute;
    border: none;
    width: 1280px;
    height: 1024px;
    background: #FFFFFF;
    z-index: 100;
    padding: 0 0 0 0;
    opacity: 0.9;
    filter: alpha(Opacity=90);
}

#screentimeout {
    position: absolute;
    border: none;
    z-index: 200;
    background: #2d4876;
    opacity: 1;
    top: 250px;
    left: 300px;
    background: url('img/inner_bg_big.png') no-repeat;
    width: 717px;
    height: 350px;
    color: red;
}

#msgyesno, #msgno, #msgmenutext, #polew, #confirm_text {
    font-size: 48px;
    color: #e3bdb8;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    line-height: 40px;
}

#screentimeouttimer {
    font-size: 50px;
    color: red;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    line-height: 40px;
}

#calendarmonth {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 53px;
    line-height: normal;
    font-weight: bold;
    color: black;
    padding: 15px 0 0 0;
    border: none;
    width: 513px;
    height: 85px;
    background: url('img/field1_current.png') 0 0 no-repeat;
}

#calendar {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 53px;
    line-height: normal;
    font-weight: bold;
    color: black;
    padding: 15px 0 0 0;
    border: none;
    width: 513px;
    height: 85px;
    background: url('img/field1_current.png') 0 0 no-repeat;
}

#moneyin {
    font-size: 48px;
    color: #e3bdb8;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    display: inline;
}

#moneypercent {
    font-size: 34px;
    color: black;
    font-weight: bold;
}

#moneyacct {
    font-size: 34px;
    color: #e3bdb8;
    font-weight: bold;
}

#moneychange {
    font-size: 48px;
    color: #e3bdb8;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    display: none;
}

.moneychangetxt {
    font-size: 48px;
    color: #e3bdb8;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    display: none;
}

#top2 {
    position: absolute; /* Абсолютное позиционирование */
    width: 1280px; /* Ширина слоя в пикселах */
    height: 120px; /* Высота слоя в пикселах */
    top: 65px;
    left: 0;
    margin-left: 0; /* Отступ слева */
    margin-top: 0; /* Отступ сверху */
    border: solid 0;
    padding: 0; /* Поля вокруг текста */
    background-image: url('img/mobile_pay_clr.png');
}

#top_op2 {
    position: absolute; /* Абсолютное позиционирование */
    width: 1280px; /* Ширина слоя в пикселах */
    height: 80px; /* Высота слоя в пикселах 80*/
    left: 0;
    top: 86px;
    margin-left: 0; /* Отступ слева */
    margin-top: 0; /* Отступ сверху */
    border: solid 0;
    padding: 0; /* Поля вокруг текста */
}

#opinfostepinfo, #opinfostepinfofull, #opinfostep_min_max_sum {
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 5px;
}

#opinfostepinfo {
    top: 20px;
}

#opinfostep_min_max_sum {
    margin-left: 0;
    padding: 0;
}

.confirm_maskvalue {
    font-weight: bold;
    font-style: italic;
}

/*
Стили для инфо и инфофул в степах
*/
.stepinfofull, .stepinfo {
    width: 200px;
    text-align: center;
    display: inline;
    left: 0;
    font-size: 50px;
    color: #000000;
    font-weight: bold;
}

/*
/Стили для инфо и инфофул в степах
*/

/*
Начало для numboard
*/
/*

       Классы для кнопок цифровой клавиатуры
       */

.cell_num_b1, .cell_num_b4, .cell_num_b7, .cell_num_b41 {
    width: 251px;
    height: 121px;
}

.cell_num_b2, .cell_num_b5, .cell_num_b8, .cell_num_b0 {
    width: 251px;
    height: 121px;
}

.cell_num_b3, .cell_num_b6, .cell_num_b9, .cell_num_b40 {
    width: 251px;
    height: 121px;
}

/*
/ numboard
*/

/*
Начало фиобокс
*/
.fiobox {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: normal;
    color: black;
    padding: 11px 0 0 0;
    border: none;
    width: 300px;
    height: 63px;
    background: url('img/unistream_box.png') 0 0 no-repeat;

}

.unistreamboxbackspace {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: normal;
    color: black;
    padding: 11px 0 0 0;
    border: none;
    width: 93px;
    height: 63px;
    background: url('img/unistream_delete.png') no-repeat;
}

/*
/фиобокс
*/

/*
Новый каледарь
*/

.winput_left_cal, .winput_right_cal, .winput_center_cal {
    height: 85px;
    width: 15px;
}

.winput_left_cal {
    background: url('img/1.png') no-repeat;
}

.winput_right_cal {
    background: url('img/2.png') no-repeat;
}

.winput_left_cal_red {
    background: url('img/1_red.png') no-repeat;
    height: 85px;
    width: 15px;
}

.winput_right_cal_red {
    background: url('img/2_red.png') no-repeat;
    height: 85px;
    width: 15px;
}

.winput_center_cal {
    background: url('img/3.png') repeat-x;
    height: 85px;
    width: 150px;
    padding: 0;
    margin: 0;
}

.cal_input_size_font {
    font-size: 50px;
}

.div_day, .div_month, .div_year, .div_back, .div_calender, .div_next {
    float: left;
}

.div_day, .div_month, .div_year {
    margin-left: 10px;
}

/*<-блок календаря под инпутом*/
.div_back, .div_calender, .div_next {
    height: 575px;
    /*border: 1px solid black;*/
}

.div_back, .div_next {
    width: 110px;
}

.div_calender {
    width: 600px;
    top: -60px;
    left: 5px;
    position: relative;
}

/*блок календаря под инпутом->*/

.div_clear {
    clear: both;
}

.div_table_cal_one_month, .div_table_cal_all_month, .div_table_cal_year, .cal_table_month, .cal_table_all_month {
    width: 607px;
}

.div_table_cal_one_month, .div_table_cal_all_month, .div_table_cal_year {
    height: 479px;
    text-align: left;
    background: url('img/calendar_month.png') no-repeat;
}

/*подложка для списка месясов*/
.div_table_cal_all_month {
    background: url('img/calendar_all_month.png') no-repeat;
}

.div_table_cal_year {
    background: url('img/calendar_year.png') no-repeat;
}

.cal_table_month, .cal_table_all_month, .cal_table_year {
    width: 584px;
    margin-left: 10px;
    margin-top: 8px;
    /*border: 1px solid black;*/
}

.cal_table_all_month {
    width: 586px;
    margin-left: 9px;
}

.cal_table_year {
    width: 585px;
    margin-left: 10px;
}

.cal_head_link {
    width: 584px;
}

.td_back {
    width: 86px;
    height: 92px;
    background: url('img/calendar_back.png') no-repeat;
}

.td_next {
    width: 86px;
    height: 92px;
    background: url('img/calendar_next.png') no-repeat;
}

.td_center {
    width: 410px;
}

.tr_1_cal {
    height: 92px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

.tr_1_cal td {
    color: white;
}

.tr_2_cal {
    height: 41px;
    text-align: center;
    vertical-align: middle;
    font-size: 27px;
}

.tr_2_cal td {
    border: 1px solid #b1da77;
    width: 80px;
}

.tr_3_cal {
    height: 53px;
}

.day {
    margin: 0;
    padding: 0;
    width: 81px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

.tr_all_month {
    height: 114px;
}

.tr_all_month td.all_month {
    width: 195px;
    text-align: center;
    font-size: 35px;
    color: black;
}

.tr_year {
    height: 91px;
}

.tr_year td.year {
    width: 195px;
    text-align: center;
    font-size: 35px;
    color: black;
}

td.left {
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
}

td.right {
    border-bottom: 1px solid #afafaf;
}

/*
/Новый каледарь
*/

#selectcard {
    width: 1280px;
    height: 120px;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 220px;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 100px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: bold;
    letter-spacing: 10px;
}

#wbuttons_select_card {
    margin-right: 100px;
}

#pinpadtimerdiv {
    position: absolute;
    z-index: 110;
    opacity: 1;
    top: 200px;
    text-align: center;
    left: 200px;
}

#cart {
    background: url('img/cart_bg.png') no-repeat;
    width: 346px;
    height: 111px;
    padding: 0;
    margin-left: 910px;
    position: absolute;
}

#cartvalue {
    width: 346px;
    height: 111px;
    font-size: 24px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    text-align: left;
    vertical-align: middle;
    padding-left: 90px;
    padding-top: 26px;
    position: relative;
}

#cartcol {
    color: #e3bdb8;
    font-weight: bold;
    font-size: 20px;
}

#cartsumm {
    color: #e3bdb8;
    font-weight: bold;
    font-size: 20px;
    left: -20px;
}

#cartrubles {
    color: #e3bdb8;
    font-weight: bold;
    font-size: 20px;
    left: -20px;
}

#newcart {
    color: #e3bdb8;
    font-weight: bold;
    font-size: 20px;
}

#newclientdiv {
    background: url('img/clear_button.png') no-repeat;
    width: 346px;
    height: 111px;
    padding: 0;
    margin-left: 10px;
    position: absolute;
    font-family: PTSansRegular, sans-serif;
    text-align: center;
    vertical-align: middle;
    left: 180px;
    visibility: hidden;
}

#newclienttext {
    color: #e3bdb8;
    font-weight: bold;
    font-size: 20px;
    padding-top: 40px;

}

.provbutton {
    border: 0 solid;
    height: 159px;
    display: table;
}

.provbuttontxt {

    width: 260px;
    height: 110px;
    border: 0 solid;
    font-size: 22px;
    color: #FFFFFF;
    font-family: PTSansRegular, sans-serif;
    position: relative;
}

.moneyintxt {
    font-size: 48px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    font-weight: normal;
}

.moneytxt {
    font-size: 24px;
    font-family: PTSansRegular, sans-serif;
    font-weight: normal;
    color: #000000;
}

.moneybigtxt {
    font-size: 48px;
    font-family: PTSansRegular, sans-serif;
    font-weight: normal;
    color: #000000;
}

.wpayment {
    width: 1280px;
    margin-top: 250px;
    text-align: center;
    left: 0;
}

#wdatabox {
    top: 100px;
    margin: 0;
    text-align: center;
    width: 1280px;
    position: absolute;
}

#info_wdatabox {
    position: absolute;
    left: 0;
    font-size: 130px;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    color: #000000;
    width: 1280px;
    top: -100px;
    text-align: center;
}

#infofull_wdatabox {
    font-size: 26px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    width: 800px;
}

#wnumboard {
    margin: 15px 0 auto 405px;
    text-align: center;
    position: absolute;
}

#databox {
    margin-top: 50px;
    margin-left: 0;
    width: 1280px;
    text-align: center;
    overflow: hidden;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: bold;
    position: absolute;
}

#termdoesntwork {
    font-family: PTSansRegular, sans-serif;
    color: #af342f;
    font-weight: bold;
    font-size: 26px;
}

.confirm_maskvalue1 {
    font-family: PTSansRegular, sans-serif;
    color: #af342f;
    font-weight: bold;
    font-size: 26px;

}

.confirm_maskvalue2 {

    font-style: italic;
    font-family: PTSansRegular, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 46px;
}

.printchecktxt {
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 48px;
}

#wpayment_money_needed {
    font-size: 48px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    display: inline;
}

.moneyneededtxt {
    font-size: 48px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
}

.calendar_list {
    width: 160px;
    height: 95px;
    background: url('img/calendar.png') no-repeat;
    font-size: 28px;
    color: #e3bdb8;
    font-weight: bold;
    padding-right: 25px;
    padding-top: 15px;
}

#parkingprice {
    font-size: 28px;
    color: #af342f;
    font-weight: bold;
    width: 1200px;
    text-align: center;
}

.clock_list {
    width: 160px;
    height: 95px;
    background: url('img/clock.png') no-repeat;
    font-size: 28px;
    color: #e3bdb8;
    font-weight: bold;
    padding-right: 27px;
    padding-top: -2px;
}

#skudclick1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 0;
    left: 0;
    top: 0;
    z-index: 1000;
}

#skudclick2 {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
    z-index: 1000;
}

#skudclick3 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

#skudclick4 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

#skudpass {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid orangered;*/
    padding-top: 7%;
    width: 100%;
    height: 100%;
    background-color: #4071bb;
    /*background-IMAGE: url('img/bg.jpg');*/
    /*background-color: #a05aa2;*/
    overflow: hidden;
    font-size: 24px;
    color: black;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 0;
    display: none;
    z-index: 1001;
}

#skudpassNew {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skudImage {
    padding: 0 77px;
}

.skudButton {
    border-radius: 10px;
    padding: .6rem;
    background-color: rgba(255, 255, 255, .4);
    margin-top: .7rem;
    color: white;
}

.skudButton + .skudButton {
    margin-top: 100px;
}

.grfontnologo {
    font-size: 22px;
    color: #000000;
    font-weight: lighter;
    padding: 0 0 0 0;
    float: left;
    position: relative;
    border: 0 solid;
    text-align: center;
    width: 479px;
}

.browupprice {
    letter-spacing: 10px;
    font-size: 80px;
    color: #e3bdb8;
    font-family: PTSansRegular, sans-serif;
    text-align: center;
    width: 479px;
}

.AddProvToCart {
    border: 0 solid;
    position: relative;
    float: left;
    margin-left: 90px;
    top: -70px;
    width: 220px;
    height: 120px;
    padding-top: 20px;
    padding-left: 185px;

}

.RemProvFromCart {
    position: relative;
    float: left;
    left: 5px;
    top: 50px;
    width: 80px;
    height: 120px;
    border: 0 solid;
    z-index: 1000;
    padding-top: 20px;
    padding-right: 36px;
}

.provlist {
    background: url('img/prov_bgr.png') no-repeat;
    width: 319px;
    height: 160px;
    border: 0 solid;
    padding: 0;
    margin-bottom: -40px;
    margin-right: 50px;
}

.grfontnologolist {

    color: #e3bdb8;
    font-family: PTSansRegular, sans-serif;
    padding: 10px 0 0 0;
    float: left;
    position: relative;
    top: 60px;
    text-align: center;
    width: 230px;
    height: 0;
    border: 0 solid;
    left: -36px;
    z-index: 1;
}

.provcolinmenu {
    background: url('img/provcolinmenu.png') no-repeat;
    width: 36px;
    height: 36px;
    position: relative;
    left: 5px;
    font-size: 26px;
    font-family: PTSansRegular, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-top: 2px;
    margin-bottom: -36px;
    top: -7px;
}

#wlist_panel {

}

.duplicatecheck {
    position: relative;
    top: 230px;
    left: 1050px;
}

#schecktd_cal_head {
    position: relative;
    left: 135px;
    top: 15px;
}

.grfontnologo2 {
    font-size: 22px;
    color: #FFFFFF;
    font-family: PTSansRegular, sans-serif;
    padding: 11px 0 0 0;
    float: left;
    position: relative;
    border: 0 solid;
    text-align: center;
    width: 340px;
}

.admin_back {
    position: absolute;
    left: 0;
    top: 923px;
}

#msgmenutext2 {
    font-size: 18px;
    color: #af342f;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    line-height: 40px;
}

#msgmenutext3, #msgmenutext4 {
    font-size: 18px;
    color: #af342f;
    font-family: PTSansRegular, sans-serif;
    font-weight: bold;
    line-height: 40px;
    display: inline;
}

#cartpaybutton {
    width: 357px;
    height: 119px;
    padding: 0;
    margin-left: 459px;
    margin-top: 840px;
    position: absolute;
}

.rocherinfocart {
    font-size: 30px;
    font-family: PTSansRegular, sans-serif;
    font-weight: normal;
    color: #000000;
}

.rocherprice {
    font-size: 50px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: bold;
}

#scrollcart {
    top: 10px;
    position: absolute;
    left: 1150px;
}

#scrollcartleft {
    top: 220px;
    position: absolute;
    left: 1150px;
}

#confirmcart, #confirmcart2 {

    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    top: 200px;
    vertical-align: text-top;
    font-size: 50px;
    color: black;
    font-family: PTSansRegular, sans-serif;
    font-weight: normal;

}

#wcheck_print {
    position: absolute;
    top: 130px;
    width: 1280px;
    text-align: center;
}

.cardfail_text {
    font-size: 46px;
    font-family: PTSansRegular, sans-serif;
    color: #af342f;
    font-weight: bold;
}

#cardfail {
    position: absolute;

    top: 100px;
    width: 1280px;
    text-align: center;

}

#pinpadtimerdiv {
    width: 1280px;
    top: 220px;
    position: absolute;
    text-align: center;
    border: 0 solid;
    left: 0;
}

#moneyacctpin {
    display: inline;
    font-family: PTSansRegular, sans-serif;
    color: #f24841;
    font-weight: bold;
    font-size: 46px;
}

#wowmaintext {
    position: absolute;
    width: 1280px;
    text-align: center;
    margin-top: 400px;
    font-size: 68px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: bold;
}

#wowtext {
    position: absolute;
    width: 1280px;
    text-align: center;
    margin-top: 500px;
    font-size: 26px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: normal;
}

#wowbutton {
    text-align: center;
    margin-top: 650px;
    margin-left: 350px;
}

#fioboxregister {
    position: absolute;
    width: 1280px;
    text-align: center;
    margin-top: -150px;
    font-size: 54px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    left: 0;
}

ul li {
    left: -20px;
    color: #000000;
    position: relative;
    float: left;
    width: 90px;
    height: 100px;
    display: inline;
}

ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul li label {
    display: block;
    position: relative;
    font-weight: bold;
    font-family: PTSansRegular, sans-serif;
    font-size: 38px;
    padding: 22px 0 0 40px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;

}

ul li .check {
    display: inline;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;

}

ul li .check::before {
    display: inline;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;

}

input[type=radio]:checked ~ .check {
    border: 5px solid #f24841;
}

input[type=radio]:checked ~ .check::before {
    background: #f24841;
}

input[type=radio]:checked ~ label {
    color: #f24841;
}

#wowtext {
    position: absolute;
    width: 1280px;
    text-align: center;
    top: -220px;
    font-size: 120px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: normal;
}

/*.rub {
    line-height: 40px;
    width: 0.2em;
    border-bottom: 10px solid #000;
    display: inline-block;
}*/

.rubprice {

    line-height: 25px;
    width: 0.3em;
    border-bottom: 8px solid #e3bdb8;
    display: inline-block;
}

#masterphoto {
    position: absolute;
    width: 183px;
    height: 182px;
    top: -200px;
    left: 200px;
}

#timeinfo {
    position: absolute;
    width: 177px;
    height: 169px;
    background-image: url("img/time_bgr.png");
    top: 0;
    left: 700px;
    font-size: 30px;
    font-family: PTSansRegular, sans-serif;
    color: #ffffff;
    font-weight: normal;
}

#masterinfo {
    position: absolute;
    top: 40px;
    left: 200px;
    font-size: 30px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: normal;
    border: 0;
    width: 480px;
    text-align: left;
    letter-spacing: 10px;
}

#mastername {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 40px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    font-weight: normal;
    letter-spacing: 10px;
}

#timeinfotext {
    position: absolute;
    top: 140px;
    text-align: center;
    left: 17px;
    letter-spacing: 4px;
    font-size: 14px;
    color: #e3bdb8;
    font-family: PTSansRegular, sans-serif;
}

#timeinfohour {
    position: absolute;
    top: 60px;
    text-align: center;
    left: 8px;
    letter-spacing: 8px;
    font-size: 70px;
    color: #FFFFFF;
    font-family: PTSansRegular, sans-serif;
    width: 175px;
}

#timeinfoweekday {
    letter-spacing: 8px;
    font-size: 35px;
    top: 50px;
    left: 4px;
    position: absolute;
    color: #FFFFFF;
    font-family: PTSansRegular, sans-serif;

    width: 175px;
}

#timeinfoday {
    position: absolute;
    top: 0;
    text-align: center;
    left: 2px;
    letter-spacing: 0.1em;
    font-size: 50px;
    color: #FFFFFF;
    font-family: PTSansRegular, sans-serif;
    width: 175px;
}

/*.rubconfirm {
    line-height: 40px;
    width: 0.2em;
    border-bottom: 10px solid #000;
    display: inline-block;
}*/

#carttotal {
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 0;
    border: 1px solid black;
}

#wbuttons_addprov {
    position: absolute;
    top: 500px;
    left: 250px;
}

.selectmethodtext {
    width: 1280px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    text-align: center;
    font-size: 70px;
}

#wdatabox_text {
    width: 1280px;
    color: #000000;
    font-family: PTSansRegular, sans-serif;
    text-align: center;
    font-size: 65px;
    position: absolute;
}

#info_wdatabox_keyboard {
    display: inline;
    color: #000000;
    padding: 0;
    width: 600px;
    overflow: hidden;
    font-size: 110px;
    vertical-align: middle;
}

.appointmentbtn {
    position: absolute;
    top: 200px;
    left: 0;
}

.groupname {
    width: 36px;
    height: 36px;
    position: relative;
    left: 5px;
    font-size: 26px;
    font-family: PTSansRegular, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-top: 2px;
    margin-bottom: -36px;
    top: -7px;

}

.servicegroupname {
    position: absolute;
    top: -100px;
    left: 0;
    font-size: 60px;
    font-family: PTSansRegular, sans-serif;
    color: #000000;
    text-align: center;
    width: 1280px;
}
