html {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    background: lightsteelblue;
    height: 100%;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.operationScreenBlocker {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 50;
}

.screenBlockedTimeout {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 200;
}

.screenBlockedWrapper {
    display: flex;
    position: relative;
    bottom: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.timeoutMessage {
    font-size: 30px;
    text-align: center;
}

.timeoutTime {
    font-size: 36px;
    color: red;
    font-weight: bolder;
    text-align: center;
}

.stillhereButton {
    margin-top: 25px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    color: #003333;
    white-space: normal;
    width: 140px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.operationWrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 70;
}

.operationHint {
    display: block;
    position: fixed;
    top: 8%;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    white-space: pre;
    text-align: center;
    font-size: 3em;
    padding-bottom: 100px;
}

.pWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: min-content;
}

.operationHeader {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 25px;
}

.operationText {
    font-size: 30px;
    text-align: left;
    white-space: pre;
}

.operationTime {
    font-size: 36px;
    color: red;
    font-weight: bolder;
    text-align: center;
}

.operationPopupContent > .operationSelectOption + .operationSelectOption {
    margin-left: 10px;
}

.operationSelectOption {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    color: #003333;
    white-space: normal;
    padding: 22px 15px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.operationButton {
    margin-top: 35px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    color: #003333;
    padding: 10px 15px;
    white-space: normal;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.operationScissorsRegisterSalesWrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.operationKeyboardWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.operationKeyboardHeader {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 15%;
}

.operationKeyboardInput {
    margin-top: 40px;
    padding: 10px 0;
    width: 50%;
    font-size: 30px;
    border: 3px solid black;
    text-align: center;
    align-self: center;
}

.operationKKMConfirmWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column;
}

.operationKKMConfirmHeader {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 35px;
}

.operationKKMConfirmInfo {
    font-size: 25px;
    text-align: center;
    white-space: pre;
}

.operationKKMConfirmButtonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
}

.operationKKMConfirmButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 24px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.operationKKMConfirmButton + .operationKKMConfirmButton {
    margin-left: 30px;
}

.operationKKMstatusMessage {
    display: none;
    font-size: 30px;
    color: red;
    padding-top: 17px;
    text-transform: uppercase;
}

.processingScreenBlocker {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.processingTimer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(40% - 48px);
    left: calc(50% - 222px);
    background: rgba(0, 0, 0, 1);
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 30px;
    z-index: 101;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 15px;
}

.bodyWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    height: calc(100% - 30px);
}

.tabsWrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.tab {
    flex: auto;
    padding: 15px 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #00cccc;
    color: #003333;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
}

.contentWrapper {
    display: flex;
    padding: 10px 17px;
    flex: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

.content {
    display: flex;
    flex: auto;
}

.emptyServerResponse {
    position: relative;
    top: 40%;
    font-size: 50px;
    text-align: center;
    color: white;
}

.incassWrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.incassCashboxWrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 25px;
}

.incassCashboxWrapper > .incassCashbox + .incassCashbox {
    margin-left: 20px;
}

.incassCashbox {
    width: 20%;
    padding: 15px 18px;
    background-color: #00cccc;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
    color: #003333;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0, 102, 153, 0.8);
}

.incassOperationsWrapper {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 112px);
}

.incassOperation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    font-size: 44px;
    color: #003333;
    white-space: normal;
    width: calc(50% - 68px);
    height: calc(50% - 70px);
    border: 1px solid black;
    margin: 0 25px 25px 25px;
    padding: 8px;
    border-radius: 35px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.changeWrapper {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    height: 100%;
}

.changeDevicesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-collapse: collapse;
    width: 100%;
}

.changeDevice {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-bottom: 20px;
    align-items: self-start;
}

.changeDeviceBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: self-start;
}

.changeDeviceImage {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.changeDeviceInfoWrapper {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 5px 0 0 20px;
}

.changeDeviceCashbox {
    font-size: 26px;
    text-decoration: underline;
    white-space: pre-line;
}

.changeDeviceInfoDenominationsWrapper {
    display: flex;
    flex-direction: row;
    padding: 2px 0;
}

.changeDeviceInfoDenominationWrapper {
    display: inline-block;
}

.changeDeviceInfoDenomination {
    display: block;
    text-align: right;
}

.changeDeviceInfoAmountWrapper {
    display: inline-block;
}

.changeDeviceInfoAmount {
    display: block;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
}

.changeDeviceInfoSumWrapper {
    display: inline-block;
}

.changeDeviceInfoSum {
    display: block;
    text-align: right;
}

.changeDeviceInfoTotalWrapper {
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    padding: 6px 0;
}

.changeDeviceInfoTotal {
    display: block;
    text-align: left;
    font-size: 30px;
    padding-left: 8px;
}

.changeDeviceButton {
    background-color: #00cccc;
    text-align: center;
    color: #003333;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 15px;
    border-radius: 13px;
}

.changeSumWrapper {
    display: block;
}

.changePuloonCasetteWrapper {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.changePuloonCasetteLegend {
    display: block;
    padding: 15px 0;
}

.changePuloonManageWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.changeCashreceiverManageInfoWrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
}

.changeCashreceiverManageStatusWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changeCashreceiverManageStatusContent {
    padding: 0;
}

.changeCashreceiverManageStatusContentTable {
    text-align: center;
    border-collapse: collapse;
    margin: 0;
    border: 1px solid black;
    font-size: 22px;
}

.changeCashreceiverManageStatusContentTable td, tr, th {
    border: 1px solid black;
}

.changeCashreceiverManageStatusContentTable > tr > th {
    padding: 5px 8px;
    font-weight: normal;
}

.changeCashreceiverManageStatusContentTable > tr > td {
    padding: 5px 8px;
}

.changeCashreceiverManageTestchangeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column;
    padding-left: 10px;
}

.changeCashreceiverManageStatusButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 417px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changeCashreceiverManageTitle {
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding-bottom: 13px;
}

.changeCashreceiverManageSettingsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 8px;
    font-size: 24px;
}

.changeCashreceiverManageSettingsTopText {
    padding: 8px;
    font-size: 20px;
    white-space: pre;
    text-align: center;
}

.changeCashreceiverManageSettingsBottomText {
    padding: 8px;
    font-size: 16px;
    white-space: normal;
    text-align: justify;
    width: 310px;
}

.changeCashreceiverManageSettingsContentDenomination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeCashreceiverManageSettingsContentDenomination + .changeCashreceiverManageSettingsContentDenomination {
    padding-top: 8px;
}

.changeCashreceiverManageSettingsContentDenomination > input {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding: 3px 2px 0 0;
}

.changeCashreceiverManageSaveButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 307px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changeCashreceiverManageGiveButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 290px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changeCashreceiverManageSettingsContentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 20px;
}

.changeCashreceiverManageSettingsContentColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.changeCashreceiverManageSettingsContentColumn + .changeCashreceiverManageSettingsContentColumn {
    padding-left: 10px;
}

.changeCashreceiverManageTestchangeContentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 20px;
}

.changeCashreceiverManageTestchangeContentColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.changeCashreceiverManageTestchangeContentColumn + .changeCashreceiverManageTestchangeContentColumn {
    padding-left: 10px;
}

.changeCashreceiverManageTestchangeContentDenomination > input {
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 17px;
}

.changeCashreceiverManageTestchangeContentDenomination + .changeCashreceiverManageTestchangeContentDenomination {
    padding-top: 8px;
}

.changeCashreceiver {
}

.changeCashreceiver {
}

.changePuloonManageWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.changePuloonManageInfoWrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
}

.changePuloonManagePurgeButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 480px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changePuloonManageGiveButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 280px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changePuloonManageStatusWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changePuloonManageStatusContent {
    padding: 0;
}

.changePuloonManageStatusContentTable {
    text-align: center;
    border-collapse: collapse;
    margin: 0;
    border: 1px solid black;
    font-size: 22px;
}

.changePuloonManageStatusContentTable td, tr, th {
    border: 1px solid black;
}

.changePuloonManageStatusContentTable > tr > th {
    padding: 5px 8px;
    font-weight: normal;
}

.changePuloonManageStatusContentTable > tr > td {
    padding: 5px 8px;
}

.changePuloonManageTestchangeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 30px;
}

.changePuloonManageTestchangeContentCashbox {
    /**/
}

.changePuloonManageTestchangeContentCashbox > input {
    width: 110px;
    height: 55px;
    text-align: center;
    font-size: 20px;
}

.changePuloonManageTestchangeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column;
    padding-left: 10px;
}

.changePuloonManageTitle {
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding-bottom: 13px;
}

.changePuloonManageTestchangeContentCashbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.changePuloonManageChangeCassetteWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.changePuloonManageChangeCassetteButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 657px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changeHopperManageInfoWrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
}

.changeHopperManageStatusWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changeHopperManageFillWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column;
    padding-left: 10px;
}

.changeHopperManageTestchangeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column;
    padding-left: 10px;
}

.changeHopperManageTitle {
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding-bottom: 13px;
}

.changeHopperManageFillContentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 20px;
}

.changeHopperManageTestchangeContentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 20px;
}

.changeHopperManageTestchangeContentWrapper > input {
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    margin-left: 15px;
}

.changeHopperManageFillContentColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.changeHopperManageFillContentDenomination > input {
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 17px;
}

.changeHopperManageFillContentDenomination + .changeHopperManageFillContentDenomination {
    padding-top: 8px;
}

.changeHopperManageSaveButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changeHopperManageGiveButton {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00cccc;
    width: 280px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
    font-size: 22px;
    text-align: center;
    color: #003333;
    white-space: normal;
}

.changeHopperManageStatusContent {
    padding: 0;
}

.changeHopperManageStatusContentTable {
    text-align: center;
    border-collapse: collapse;
    margin: 0;
    border: 1px solid black;
    font-size: 22px;
}

.changeHopperManageStatusContentTable td, tr, th {
    border: 1px solid black;
}

.changeHopperManageStatusContentTable > tr > th {
    padding: 5px 8px;
    font-weight: normal;
}

.changeHopperManageStatusContentTable > tr > td {
    padding: 5px 8px;
}

.cpcAmount {
    margin-left: 300px;
    margin-right: 300px;
    padding: 15px 0 15px 25px;
    font-size: 25px;
    text-align: center;
}

.staffWrapper {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.staffMaster {
    text-align: center;
    font-size: 32px;
    padding: 30px 0 50px;
}

.staffButtonsWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.staffLastbutton {
    display: flex;
    justify-content: center;
    flex: auto;
}

.staffMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    font-size: 50px;
    color: #003333;
    white-space: normal;
    width: 450px;
    height: 140px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.staffMenuButton + .staffMenuButton {
    margin-left: 25px;
}

.staffMenuButton.selected {
    background-color: #99ffff;
    font-size: 40px;
}

.staffMenuButton:nth-child(2) {
    page-break-after: always;
    break-after: right;
}

.kkmWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.kkmContentWrapper {
    display: flex;
    flex: auto;
    flex-direction: row;
}

.kkmCashboxesWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0 20px;
    border-bottom: 1px solid black;
}

.kkmCashboxesWrapper > .kkmCashbox + .kkmCashbox {
    margin-left: 15px;
}

.kkmCashbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    width: 20%;
    background-color: #00cccc;
    text-align: center;
    font-size: 48px;
    border: 1px solid black;
    color: #003333;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0, 102, 153, 0.8);
}

.kkmOperationTabsWrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 15px 14px;
    border-right: 1px solid black;
}

.kkmOperationContentWrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 20px 10px;
    align-items: flex-start;
}

.kkmOperationTabsWrapper > .kkmOperationTab + .kkmOperationTab {
    margin-top: 15px;
}

.kkmOperationTab {
    padding: 18px 29px;
    background-color: #00cccc;
    text-align: center;
    font-size: 26px;
    border: 1px solid black;
    color: #003333;
    border-radius: 2px;
}

.kkmOperationReportsWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.kkmReport {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    font-size: 40px;
    padding: 35px 35px;
    color: #003333;
    white-space: normal;
    border: 1px solid black;
    margin: 0 25px 25px 25px;
    border-radius: 35px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.kkmOperationSellRefundWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kkmOperationSellRefundInputsTable {
    padding-bottom: 10px;
}

.kkmOperationSellRefundInputText {
    vertical-align: center;
    padding-right: 15px;
    text-align: right;
}

.kkmOperationSellRefundInput {
    width: 92px;
    height: 25px;
    padding: 8px 0 8px 6px;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
}

.kkmOperationSellRefundTextArea {
    width: 375px;
    height: 100px;
    padding: 10px 0 10px 6px;
    overflow: hidden;
    font-size: 20px;
    margin-left: 25px;
}

.kkmOperationSellRefundText {
    display: table-row;
    vertical-align: center;
    text-align: left;
}

.kkmOperationSellRefundTaxgroupsWrapper {
    display: flex;
    flex-direction: row;
    padding: 6px 0;
}

.kkmOperationSellRefundTaxgroup + .kkmOperationSellRefundTaxgroup {
    margin-left: 8px;
}

.kkmOperationSellRefundTaxgroup {
    display: flex;
    /*flex: auto;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    font-size: 23px;
    padding: 10px 15px;
    color: #003333;
    border: 1px solid black;
    white-space: nowrap;
}

.kkmOperationSellRefundPaymentOptionsWrapper {
    display: flex;
    flex-direction: row;
    padding: 6px 0;
}

.kkmOperationSellRefundPaymentOption + .kkmOperationSellRefundPaymentOption {
    margin-left: 8px;
}

.kkmOperationSellRefundPaymentOption {
    display: flex;
    /*flex: auto;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    font-size: 24px;
    padding: 12px 18px;
    color: #003333;
    border: 1px solid black;
    white-space: nowrap;
}

.kkmOperationSellRefundButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    font-size: 26px;
    padding: 15px 25px;
    color: #003333;
    white-space: normal;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.kkmOperationOperateCashboxWrapper {
    padding-top: 20px;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kkmOperationOperateCashboxButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00cccc;
    font-size: 24px;
    padding: 10px 13px;
    color: #003333;
    white-space: normal;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 102, 153, 0.8);
}

.operationPopupLegend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    padding-bottom: 11px;
}

.operationPopupLegendElement {
}

.operationPopupContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 0;
}

.operationPopupControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.operationPopupControl > .operationButton + .operationButton {
    margin-left: 30px;
}

.operationPopupContentButton {
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}

.exitPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: calc(100% - 2px);
    background-color: #cecece;
    border: 1px solid black;
}

.backButton {
    visibility: hidden;
    width: 250px;
    padding-left: 10px;
}

.exitButton {
    width: 250px;
}

.exitPanelStub {
    width: 250px;
}

.inactive {
    background-color: #a8a8a8;
}

.selected {
    background-color: #99ffff;
}

.red-shadow {
    box-shadow: 0 0 6px 0 rgba(255, 0, 0, 1);
}