* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    overflow: hidden;
}

.wrapper {
    display: flex;
    z-index: 40;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-color: #f5c5ac;
    overflow: hidden;
    /*color: #00b6b6;*/
    color: #000000;
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

.loadingWrapper {
    /*border: 1px solid orange;*/
    display: none;
    z-index: 43;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*padding-top: 100px;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    overflow: hidden;
    white-space: pre-wrap;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    /*padding-bottom: 120px;*/
}

.loadingBar {
    position: relative;
}

.loadingBar img {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
}

.loading {
    visibility: hidden;
    padding: 1rem;
    color: black;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 1rem;
    /*border: 1px solid #cecece;*/
    /*background-color: white;*/
    border-radius: 12px;
    max-width: 80vw;
}

.button#loading {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 15px;
    color: black;
    display: none;
}

.timeoutWrapper {
    display: none;
    /*display: flex;*/
    z-index: 45;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.timeout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: #405b6f;
    color: white;
    /*border: 2px solid #a1a1a1;*/
    border-radius: 10px;
    margin-bottom: 10%;
    width: 825px;
    height: 451px;
}

.timeout .stillHereQuestion {
    margin-bottom: 35px;
    font-size: 27px;
    text-transform: uppercase;
}

.timeout>.regular {
    font-size: 20px;
}

.timeout>span #timeout {
    color: red;
}

.timeoutButton {
    /*width: 130px;*/
    /*height: 75px;*/
    padding: 1rem;
    border: 1px solid #e21a1a;
    background: linear-gradient(to bottom, #e21a1a 0, #c80000 100%);
    color: white;
    /*text-transform: uppercase;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2px;
}

.debugInfo {
    /*display: none;*/
    z-index: 10000;
    display: flex;
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 3rem;
    color: #32462b;
    white-space: pre-wrap;
}

.header {
    /*border: 2px solid orange;*/
    position: relative;
    display: flex;
    /*justify-content: center;*/
    width: 100%;
    height: 125px;
    flex-direction: row;
    text-transform: uppercase;
    /*visibility: hidden;*/
    padding: 20px;
}

.header img {
    width: 130px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.contentWrapper .logo {
    /*margin-bottom: 7vh;*/
}

.contentWrapper .pageIcon {
    margin-bottom: 5px;
}

.footer {
    /*border: 1px solid orange;*/
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    flex-direction: row;
    /*padding-top: 1.4rem;*/
    margin: 0;
}

.footer>.clock {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #00b6b6;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.footer>.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    font-size: 1.3rem;
    position: absolute;
    bottom: 50px;
    color: #1F4E79;
    border: 5px solid #1F4E79;
    border-radius: 10px;
    background: #D1E3F3;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 5px 0px #1F4E79;
    text-align: center;
}

.footer>.button.disabled {
    opacity: .5;
}

.footer>.button#back {
    left: 50px;
}

.footer>.button#next {
    right: 50px;
}

.footer>.button#mainMenu {
    left: 50%;
    transform: translateX(-50%);
}

.footer>.button.pay {
    border: 1px solid #e21a1a;
    background: linear-gradient(to bottom, #e21a1a 0, #c80000 100%);
}

.justDoIt {
    font-size: 2.1rem;
    text-align: center;
    /*border: 1px solid #cecece;*/
    /*background-color: white;*/
    /*border-radius: 15px;*/
}

.buttons {
    /*width: 50%;*/
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
}

.buttons>.button {
    width: 310px;
    height: 150px;
    border: 3px solid #00b6b6;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-weight: bold;*/
    padding: 1rem;
    font-size: 1.7rem;
    text-align: center;
}

.buttons>.button+.button {
    margin-left: 60px;
}

.idleWrapper {
    /*border: 1px solid black;*/
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; */
}

.idleWrapper .row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.idleWrapper .error {
    margin-bottom: 30px;
    color: indianred;
    font-size: 1.6rem;
    visibility: hidden;
}

.idleWrapper .directive {
    margin-top: 8px;
    white-space: pre-wrap;
    color: white;
    font-size: 60px;
    text-align: center;
    line-height: 47px;
}

.idleWrapper .row+.row {
    margin-top: 72px;
}

.idleWrapper .button {
    width: 30vw;
    height: 20vh;
    border-radius: 12px;
    border: 1px solid #b3b3b3;
    background: linear-gradient(to bottom, #fefefe 0, #e9e9e9 100%);
    color: #666;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: pre-wrap;
}

.idleWrapper .button+.button {
    margin-left: 80px;
}

.categoriesWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.categoriesWrapper .logo {
    margin-bottom: 6vh;
}

.categoriesWrapper .directive {
    font-size: 60px;
    white-space: pre-wrap;
    text-align: center;
}

.categoriesWrapper .directive.remind {
    margin-top: 105px;
}

.categoriesWrapper .waitText {
    font-size: 26px;
}

.categoriesWrapper .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.categoriesWrapper .content .spinner {
    margin-top: 2vh;
}

.categoriesWrapper .category {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: .9vh 1vh 0;
    font-size: 3rem;
    background-color: #bf9a86;
    box-shadow: 4px 4px 6px #bf9a86;
    word-break: keep-all;
    margin-bottom: 1vh;
}

.categoriesWrapper .category .addButton,
.categoriesWrapper .category .closeButton {
    margin-left: 10px;
}

.categoriesWrapper .service {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .3vh 1vh .3vh;
    font-size: 1.3rem;
    background-color: #bf9a86;
    box-shadow: 4px 4px 6px #bf9a86;
    word-break: keep-all;
    margin-bottom: 1vh;
}

.categoriesWrapper .service .title {
    width: 100%;
    text-align: center;
}

.categoriesWrapper .service .details {
    width: 100%;
    display: flex;
    align-items: center;
}

.categoriesWrapper .service .timeAndButton {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.categoriesWrapper .service .details .time {
    margin-right: 5px;
}

.categoriesWrapper .service .details .price {
    margin-left: 5px;
}

.categoriesWrapper .masterWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .3vh 1vh .3vh;
    font-size: 1.3rem;
    background-color: #bf9a86;
    box-shadow: 4px 4px 6px #bf9a86;
    word-break: keep-all;
    margin-bottom: 1vh;
    min-width: 53vw;
}

.categoriesWrapper .masterWrapper.empty {
    padding: 1vh 1vw;
    justify-content: center;
}

.categoriesWrapper .master {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 27px;
}

.categoriesWrapper .master.empty {
    padding: 1vh 1vw;
    justify-content: center;
}

.categoriesWrapper .master .avatar {
    width: 80px;
}

.categoriesWrapper .master .name {
    padding-top: 7px;
}

.categoriesWrapper .sessions {
    width: 100%;
    /*border: 1px solid red;*/
    display: none;
    margin-top: .5vh;
}

.categoriesWrapper .sessions.opened {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriesWrapper .sessions .times {
    /*border: 1px solid red !important;*/
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoriesWrapper .sessions .directive {
    font-size: 27px;
    text-transform: lowercase;
    word-spacing: 0;
    letter-spacing: 0;
}

.categoriesWrapper .sessions .time {
    padding: .2vh .6vw;
    font-size: 28px;
    /*border: 1px solid green;*/
}

.categoriesWrapper .calendarWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    background-color: #bf9a86;
    box-shadow: 4px 4px 6px #bf9a86;
    word-break: keep-all;
    padding: 0 2vw;
}

.categoriesWrapper .field {
    width: 53vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .3vh 1vh .3vh;
    font-size: 1.3rem;
    background-color: #bf9a86;
    box-shadow: 4px 4px 6px #bf9a86;
    word-break: keep-all;
    margin-bottom: .7vh;
}

.categoriesWrapper .field .title {
    font-size: 26px;
    text-align: center;
    white-space: pre-wrap;
}

.categoriesWrapper .field .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.categoriesWrapper .field input {
    width: 100%;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    background: none;
    border: none;
    color: white;
    box-shadow: none;
    /*border: 1px solid red;*/
}

.clear,
.clear:before,
.clear:after {
    content: "";
    display: block;
    clear: both;
}

.paymentPick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.paymentPick .directive {
    padding-bottom: 50px;
    font-size: 25px;
    text-transform: uppercase;
}

.paymentPick .info {
    padding-bottom: 50px;
    font-size: 21px;
    width: 450px;
}

.paymentPick .infoTables {
    padding: 20px 30px;
    background-color: #405b6f;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paymentPick .infoTables div {
    text-align: center;
}

.paymentPick .infoTable {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.paymentPick .infoTable+.infoTable {
    margin-top: 10px;
}

.paymentPick img {
    width: 420px;
}

.paymentPick img+img {
    margin-left: 40px;
}

.paymentWrapper {
    /*border: 1px solid indianred;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 5vh;
}

.paymentWrapper .directive {
    margin-bottom: 80px;
}

.imageWrapper {
    /*border: 1px solid gold;*/
    background-repeat: no-repeat;
}

.imageWrapper.cash {
    width: 300px;
    height: 230px;
    background-image: url('../img/insertmoney.png');
    margin-left: 50px;
}

.imageWrapper.card {
    width: 202px;
    height: 297px;
    background-image: url('../img/card_process.png');
    margin-left: 50px;
}

.paymentInfo {
    width: 100%;
    /*border: 1px solid gold;*/
    display: flex;
    justify-content: center;
}

.infoDetails {
    /*border: 1px solid indianred;*/
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.infoDetails div {
    /*border: 2px solid orange;*/
}

.infoDetails .cash,
.infoDetails .card {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.infoDetails .cash+.cash,
.infoDetails .card+.card {
    margin-top: 40px;
}

.infoDetails .cash:first-child,
.card.here {
    /*margin-top: 200px;*/
}

.paymentWrapper .directive {
    /*border: 1px solid orange;*/
    text-transform: uppercase;
    font-size: 24px;
    float: right;
}

.infoDetails .small {
    font-size: 15px;
}

.infoDetails .change {
    display: flex;
    visibility: hidden;
}

.infoDetails .right div {
    display: flex;
    align-items: flex-end;
}

.infoDetails .right {
    display: flex;
}

.infoDetails .green {
    color: #72bb44;
}

.infoDetails .red {
    color: rgb(226, 26, 26);
}

.infoDetails .gray {
    color: #7d7d7d;
}

.infoDetails .type {
    margin-left: 20px;
}

.paymentTable {
    color: #00b6b6;
    margin-bottom: 50px;
}

.paymentTable tr.change {
    /* display: none; */
    display: flex;
    visibility: hidden;
}

.paymentTable th {
    font-size: 3.2rem;
    font-weight: normal;
    text-align: left;
    padding: 20px 5px;
}

.paymentTable th:last-child {
    padding-left: 100px;
}

.paymentTable td {
    font-size: 2rem;
    border: 0;
    padding: 15px 0;
}

.paymentTable td:first-child {
    padding-right: 60px;
}

.paymentTable td:last-child {
    text-align: right;
}

.paymentTable .info {
    font-size: 1.4rem;
}

.remainText {
    font-size: 1.5rem;
}

.timeRemain {
    font-size: 1.8rem;
}

.finishWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finishWrapper .message {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d54b65
}

.finishWrapper .toDo {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 80px;
    color: #1F4E79;
}

.param {
    margin-bottom: 50px;
    width: 890px;
    margin-right: 40px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 42;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1.1rem;
    color: black;
}

.questionTable {
    margin-bottom: 150px;
    border: 1px solid black;
    /*border: 1px solid red;*/
    border-radius: 15px;
    padding: 120px !important;
    background-color: white;
    color: black;
}

.questionTable th,
td {
    padding: 15px;
}

.questionTable th {
    color: black;
}

.questionTable td {
    color: black;
    font-family: inherit;
    text-align: center;
    border: 0;
}

.debugMessage {
    display: none;
    position: absolute;
    white-space: pre-wrap;
    z-index: 300000;
    top: 30px;
    right: calc(50% - 150px);
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding: 10px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
    border: 1px solid #dedede;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    width: 300px;
}

.alphaButton {
    border: 1px solid #e21a1a;
    background: linear-gradient(to bottom, #e21a1a 0, #c80000 100%);
    color: white;
}

.betaButton {
    border: 1px solid #b3b3b3;
    background: linear-gradient(to bottom, #fefefe 0, #e9e9e9 100%);
    color: #666;
}

.regular {
    font-family: Helvetica, Arial, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.lightBlue {
    color: #69c8ff !important;
}

.blue {
    color: #4477bb !important;
}

.red {
    color: #d30100 !important;
}

.redBg {
    background-color: rgba(211, 0, 0, .5) !important;
}

.invisible {
    visibility: hidden;
}

.bold {
    font-weight: bold;
}

.heightfix {
    transform: scale(1, 0.8);
}

.datepicker {
    position: relative;
    background: none;
    color: white;
    border: none;
    font-size: 28px;
    width: 50vw;
    transform: scale(1, 0.8) !important;
    /*border: 1px solid red !important;*/
}

.datepicker--cell {
    /*height: 35px;*/
    /*margin: 0 20px;*/
}

.datepicker--nav {
    /*border: 1px solid red !important;*/
    padding-bottom: .3vh;
}

.datepicker--nav-action {
    /*display: none;*/
    transform: scale(2.2);
}

.datepicker--nav-action path {
    stroke: #fff;
}

.datepicker--nav-action:hover,
.datepicker--cell-day.-focus-,
.datepicker--cell-day.-hover-,
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--nav-title:hover {
    background: none !important;
    color: white !important;
}

.datepicker--day-name {
    color: #fff;
    font-size: inherit;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade-,
.datepicker--cell-day.-disabled-,
.datepicker--cell-day.-current- {
    color: #fff;
}

.datepicker--nav-title {
    text-transform: lowercase;
}

.datepicker--nav {
    border: none;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lds-spinner {
    position: relative;
}

.lds-spinner div {
    left: 0;
    top: 0;
    position: absolute;
    -webkit-animation: lds-spinner linear 1s infinite;
    animation: lds-spinner linear 1s infinite;
    background: #ffffff;
    width: 12px;
    height: 24px;
    border-radius: 40%;
    -webkit-transform-origin: 6px 52px;
    transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -0.916666666666667s;
    animation-delay: -0.916666666666667s;
}

.lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -0.833333333333333s;
    animation-delay: -0.833333333333333s;
}

.lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

.lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.666666666666667s;
    animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.583333333333333s;
    animation-delay: -0.583333333333333s;
}

.lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.416666666666667s;
    animation-delay: -0.416666666666667s;
}

.lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.333333333333333s;
    animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.166666666666667s;
    animation-delay: -0.166666666666667s;
}

.lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.083333333333333s;
    animation-delay: -0.083333333333333s;
}

.lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.lds-spinner {
    /*width: 150px !important;*/
    /*height: 150px !important;*/
    -webkit-transform: translate(-75px, -75px) scale(1) translate(75px, 75px);
    transform: translate(-75px, -75px) scale(1) translate(75px, 75px);
}

/* CUSTOM Saratov JKH */
h1 {
    font-size: 42px;
    margin-top: 80px;
    text-transform: uppercase;
    color: #1F4E79;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.contentWrapper__mainBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
}

.contentWrapper__mainBtn {
    width: 320px;
    color: #1F4E79;
    text-transform: uppercase;
    font-size: 24px;
    border: 10px solid #1F4E79;
    border-radius: 5px;
    text-align: center;
    background: #D1E3F3;
    padding: 30px 0px;
    font-weight: bold;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
}

.contentWrapper__svg {
    width: 300px;
    height: 300px;
    background: #fff;
    background-image: url("img/qr-code-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.contentWrapper__svg#barcode-svg {
    /* background-image: url("img/barcode.svg"); */
}

.errContent {
    color: red;
    font-size: 42px;
    font-weight: bold;
}

/* ui-keyboard */
.ui-keyboard {
    background: #D1E3F3;
    border: 1px solid #dedede;
    padding: 10px;
}

.ui-keyboard-keyset {
    background: #D1E3F3;
}

.ui-keyboard-space {
    width: 850px;
    margin: 10px auto 0px auto;
}

input.ui-widget-content {
    padding: 10px;
    background: #ffffff;
    color: #1F4E79;
    font-size: 42px;
    text-align: center;
}

.ui-keyboard button {
    padding: 0px 5px;
}

/* ui-keyboard ends here... */

.contentWrapper__table {}

.contentWrapper__table-tbody {}

.contentWrapper__nav {}

.contentWrapper__nav-btn-prev {}

.contentWrapper__nav-btn-next {}

.contentWrapper__nav-curr-page {}

.contentWrapper__table-tbody-row {
    width: 1000px;
    height: 80px;
    background: #D1E3F3;
    margin-bottom: 25px;
    border: 2px solid #1F4E79;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contentWrapper__table-tbody-row-label {
    display: block;
    padding-left: 35px;
    margin-bottom: 50px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contentWrapper__table-tbody-row-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.contentWrapper__table-tbody-row-checkmark {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid #1F4E79;
    background-color: #fff;
}

.contentWrapper__table-tbody-row-label input:checked~.contentWrapper__table-tbody-row-checkmark {
    background-color: #38BFB8;
}

.contentWrapper__table-tbody-row-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.contentWrapper__table-tbody-row-label input:checked~.contentWrapper__table-tbody-row-checkmark:after {
    display: block;
}

.contentWrapper__table-tbody-row-label .contentWrapper__table-tbody-row-checkmark:after {
    left: 16px;
    top: 4px;
    width: 15px;
    height: 30px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contentWrapper__table-tbody-row.hide-border {}

.contentWrapper__table-tbody-row-name {
    flex-basis: 80%;
    color: #1F4E79;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentWrapper__nav-btn-next,
.contentWrapper__nav-btn-prev {
    width: 60px;
    height: 60px;
    border: 3px solid #1F4E79;
    background-color: #D1E3F3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.contentWrapper__nav-btn-prev {
    visibility: hidden;
    background-image: url('img/left-arrow.svg');
}

.contentWrapper__nav-btn-next {
    background-image: url('img/right-arrow.svg');
}

.contentWrapper__nav {
    position: absolute;
    bottom: 80px;
    width: 1000px;
    left: calc(50% - 500px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contentWrapper__nav-curr-page {
    width: 100px;
    color: #1f4e79;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.contentWrapper__search-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentWrapper__search-popup-input {
    position: absolute;
    bottom: 0;
}

.contentWrapper__search-popup-close {
    position: absolute;
    top: -30px;
    right: 50px;
    font-size: 150px;
}

.contentWrapper__search-popup-title {
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 42px;
    text-transform: uppercase;
    color: #1F4E79;
}

.contentWrapper__search-popup-table {
    position: absolute;
    top: 0;
    left: 0;
}

.contentWrapper__search-popup-keyboard {
    width: 100%;
}

.contentWrapper__search-popup-keyboard .contentWrapper__search-popup-input {
    position: relative;
    bottom: auto;
    font-size: 32px;
    padding: 5px 0px;
    width: 1000px;
}

.contentWrapper__search-popup-keyboard .ui-keyboard-button {
    padding: 0 5px;
    margin: .2em;
    width: 60px;
    height: 60px;
}

.contentWrapper__search-popup-keyboard span {
    font-size: 26px !important;
}

.contentWrapper__search-popup-keyboard .ui-keyboard-space {
    width: 700px;
}

.contentWrapper__search-popup-keyboard .ui-keyboard-accept {
    width: auto;
    background: #33CCCC;
    color: #ffffff;
}

.contentWrapper__search-popup-nav-btn-next,
.contentWrapper__search-popup-nav-btn-prev {
    width: 60px;
    height: 60px;
    border: 3px solid #1F4E79;
    background-color: #D1E3F3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.contentWrapper__search-popup-nav-btn-prev {
    visibility: hidden;
    background-image: url('img/left-arrow.svg');
}

.contentWrapper__search-popup-nav-btn-next {
    background-image: url('img/right-arrow.svg');
}

.contentWrapper__search-popup-nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;

}

.contentWrapper__search-popup-table {
    position: absolute;
    width: 100%;
    height: 460px;
    top: 150px;
    display: flex;
    flex-direction: column;
}

.contentWrapper__search-popup-noresult {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    color: #1f4e79;
}

.contentWrapper__search-popup-nav-curr-page {
    width: 100px;
    color: #1f4e79;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.contentWrapper__search-popup-tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
}

.contentWrapper__search-popup-table-tbody-item {
    box-sizing: border-box;
    padding: 25px 15px;
    margin: 10px;
    flex-basis: 20%;
    height: 180px;
    border: 1px solid #dedede;
    display: flex;
    align-items: flex-start;
    position: relative;
    background: #D1E3F3;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, .3);
}

.contentWrapper__search-popup-table-tbody-row-name {
    color: #1F4E79;
    text-align: center;
    font-weight: bold;
    width: 100%;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentWrapper__search-popup-pick {
    position: absolute;
    width: 160px;
    padding: 10px 15px;
    border: 3px solid #1F4E79;
    background-color: #D1E3F3;
    color: #1F4E79;
    bottom: 10px;
    left: calc(50% - 80px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.contentWrapper__features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 600px;
    /* justify-content: flex-start; */
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contentWrapper__features-item {
    box-sizing: border-box;
    position: relative;
    background-color: #D1E3F3;
    border-radius: 5px;
    border: 3px solid #1F4E79;
    flex-basis: calc(25% - 46px);
    height: 200px;
    margin: 10px 10px;
    align-items: center;
    padding: 10px;
}

.contentWrapper__features-item-name {
    color: #1F4E79;
    text-align: center;
    font-weight: bold;
    width: 100%;
    max-height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentWrapper__features-item-btn {
    position: absolute;
    width: 160px;
    padding: 10px 15px;
    border: 3px solid #1F4E79;
    background-color: #D1E3F3;
    color: #1F4E79;
    bottom: 10px;
    left: calc(50% - 80px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.contentWrapper__features-nav-page {
    width: 100px;
    color: #1f4e79;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.contentWrapper__features-nav-next,
.contentWrapper__features-nav-prev {
    width: 60px;
    height: 60px;
    border: 3px solid #1F4E79;
    background-color: #D1E3F3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}

.contentWrapper__features-nav-prev {
    visibility: hidden;
    background-image: url('img/left-arrow.svg');
}

.contentWrapper__features-nav-next {
    background-image: url('img/right-arrow.svg');
}

.contentWrapper__features-nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;

}

.contentWrapper__features-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 1024px;
    background: #ffffff;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentWrapper__features-popup-close {
    position: absolute;
    top: -30px;
    right: 50px;
    font-size: 150px;
}

.contentWrapper__features-item-output {
    margin-top: 15px;
    color: #1F4E79;
    font-weight: bold;
    text-align: center;
    font-size: 21px;
}

.contentWrapper__personal {
    border: 3px solid #1F4E79;
    background-color: #D1E3F3;
    border-radius: 3px;
    width: 800px;
    padding: 15px;
}

.contentWrapper__personal-question {
    margin-top: 50px;
}

.contentWrapper__personal-question-text {
    text-align: center;
    font-weight: bold;
    color: #1F4E79;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contentWrapper__personal-row {
    color: #1F4E79;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.contentWrapper__personal-question-btnWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentWrapper__personal-question-btn {
    width: 180px;
    color: #1F4E79;
    text-transform: uppercase;
    font-size: 24px;
    border: 10px solid #1F4E79;
    border-radius: 5px;
    text-align: center;
    background: #D1E3F3;
    padding: 15px 0px;
    font-weight: bold;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, .3);
}

.contentWrapper__sidebar-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 650px;
    margin-top: 100px;
    padding: 0px 25px;
}

.contentWrapper__sidebar[data-pos="left"] {
    flex-basis: 75%;
}

.contentWrapper__sidebar[data-pos="right"] {
    flex-basis: 25%;
}

.contentWrapper__sidebar-item-input.ui-keyboard-input {
    font-size: 18px;
}

.contentWrapper__sidebar-item-number,
.contentWrapper__sidebar-item-lastValue {
    font-size: 24px;
}

.contentWrapper__sidebar-item-text {
    font-size: 18px;
    color: #1F4E79;
    font-weight: bold;
    text-align: center;
    flex-basis: 33.33333%;
}

.contentWrapper__sidebar-item[data-role='title'] {
    background: #ffffff;
}

.contentWrapper__sidebar-item {
    height: 80px;
    border-radius: 5px;
    border: 2px solid #1F4E79;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    background: #D1E3F3;
}

.contentWrapper__sidebar-item-number {}

.contentWrapper__sidebar-item-lastValue {}

.ui-keyboard .contentWrapper__sidebar-item-input.ui-keyboard-preview {
    width: 250px;
    font-size: 24px;
    padding: 15px 0px;
}

.contentWrapper__set-payment {
    width: 100%;
    height: 650px;
    padding-top: 75px;
}

.contentWrapper__set-payment-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}

.contentWrapper__set-payment-text {
    border: none;
    font-size: 28px;
    color: #1F4E79;
    border: 2px solid #1F4E79;
    background: #D1E3F3;
    width: 350px;
    margin-bottom: 35px;
    text-align: center;
    padding: 15px 0px;
}

.contentWrapper__set-payment-btn {
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #1F4E79;
    border: 5px solid #1F4E79;
    background: #D1E3F3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px rgba(209, 227, 243, 0.8);
    font-size: 21px;
}

.contentWrapper__set-payment-input.ui-keyboard-input {
    width: 200px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    box-shadow: 0px 0px 0px 0px #000;
    text-align: center;
}

.contentWrapper__set-payment-anchor {
    width: 1px;
    height: 1px;
    margin-top: 15px;
}

/* CUSTOM Saratov JKH ends here... */