h1(class="contentWrapper__title")= "Показания счётчиков"
if rows
    div(class="contentWrapper__sidebar-wrap")
        div(class="contentWrapper__sidebar" data-pos="left")
            div(class="contentWrapper__sidebar-item" data-role='title' data-id='false') 
                div(class="contentWrapper__sidebar-item-text")= "Номер счётчика"
                div(class="contentWrapper__sidebar-item-text")= "Последние показания"
                div(class="contentWrapper__sidebar-item-text")= "Новые показания"
            each val, index in rows
                div(class="contentWrapper__sidebar-item" data-id= val.OCC_ID) 
                    div(class="contentWrapper__sidebar-item-number contentWrapper__sidebar-item-text")= val.SH
                    div(class="contentWrapper__sidebar-item-lastValue contentWrapper__sidebar-item-text")= val.LAST_COUNT
                    div(class="contentWrapper__sidebar-item-text")
                        input(class="contentWrapper__sidebar-item-input" data-id= val.SH placeholder="Ввести показания")
        div(class="contentWrapper__sidebar" data-pos="right")
            div(class="contentWrapper__sidebar-anchor")
else
    div(class="errContent")= "Счётчиков не обнаружено"

//- {
//-     "@sequenceNumber": 2,
//-     "@deleted": false,
//-     "OCC_ID": 1002976759,
//-     "SH": "1002",
//-     "GROUP_NORM": 0,
//-     "LAST_COUNT": 394
//- },