h1(class="contentWrapper__title")= "Ввод лицевого счёта"
div(class="contentWrapper__mainBtns")
    div(class="contentWrapper__mainBtn" onclick="drawBarcodeAuthPage()")= "С помощью штрих-кода"
    div(class="contentWrapper__mainBtn" onclick="drawAuthPage()")= "С помощью клавиатуры"