h1(class="contentWrapper__title")= "Заполните доступные поля"
div(class="contentWrapper__features")
    each val, index in items
        div(class="contentWrapper__features-item" data-id=index)
            div(class="contentWrapper__features-item-name")= val
            div(class="contentWrapper__features-item-output")
            div(class="contentWrapper__features-item-btn" data-id= index data-name= val)= "Ввести"
    div(class="contentWrapper__features-nav")
        div(class="contentWrapper__features-nav-prev")
        div(class="contentWrapper__features-nav-page")= "1"
        div(class="contentWrapper__features-nav-next")

div(class="contentWrapper__features-popup")
    h1(class="contentWrapper__title" data-role="features-popup")= "Заполните поле"
    div(class="contentWrapper__features-popup-close")= "×"
    input(class="contentWrapper__features-popup-keyboard")
