h1(class="contentWrapper__title")= "Сумма к оплате"
div(class="contentWrapper__set-payment")
    div(class="contentWrapper__set-payment-wrap")
        div(class="contentWrapper__set-payment-text")
            input(class="contentWrapper__set-payment-input" placeholder= value)
            span(class="contentWrapper__set-payment-currency")= currency
        div(class="contentWrapper__set-payment-btn")= "Изменить"
        div(class="contentWrapper__set-payment-anchor")